<section class="contacts">
    <div class="container">
        <div class="contacts__items">
            <div class="contacts__item">
                <i class="fas fa-phone-alt contacts__icon"></i>
                <span class="contacts__subtitle">Телефон</span>
                <span class="contacts__contact"><a href="tel:380673321755" class="contacts__link">+38 067 332 17 55</a></span>
            </div>

            <div class="contacts__item">
                <i class="fas fa-envelope contacts__icon"></i>
                <span class="contacts__subtitle">Email</span>
                <span class="contacts__contact"><a href="mailto:office@it.volyn.ua" class="contacts__link">office@it.volyn.ua</a></span>
            </div>

            <div class="contacts__item">
                <i class="fas fa-map-marker-alt contacts__icon"></i>
                <span class="contacts__subtitle">Адреса</span>
                <span class="contacts__contact"><address class="contacts__link">вул. Боженка 34Г, Луцьк</address></span>
            </div>

            <div class="contacts__item">
                <i class="fab fa-facebook-f contacts__icon"></i>
                <span class="contacts__subtitle">Facebook</span>
                <span class="contacts__contact"><a href="https://facebook.com/oxitschool" class="contacts__link">facebook.com/oxitschool</a></span>
            </div>
        </div>
    </div>
</section>