<section class="course">
    <div class="container">
        <h2 class="title course__title">Курс «Розробка сайтів»</h2>

        <div class="course__items">
            <div class="course__item">
                <img src="images/icons/course-icon-1.png" alt="WordPress" class="course__img">
                <h3 class="course__subtitle">Розробка сайтів на WordPress</h3>
                <div class="course__text">
                    Курс складається з коротких навчальних 
                    відео, на яких ти пізнаєш основи WordPress,
                    навчишся створювати сайти різної 
                    складності від блогів до інтернет-магазинів.
                    Всі знання закріпиш за допомогою тестових
                    завдань.
                </div>
            </div>

            <div class="course__item">
                <img src="images/icons/course-icon-2.png" alt="Drupal" class="course__img">
                <h3 class="course__subtitle">Розробка сайтів на Drupal 8</h3>
                <div class="course__text">
                    Для створення чудових сайтів на Drupal 8,
                    цеглинка за цеглинкою, ти пізнаєш секрети
                    основних та додаткових Drupal-модулів
                    (Views, Rules, Panels, Devel, Paragraph та
                    багато інших.)
                </div>
            </div>

            <div class="course__item">
                <img src="images/icons/course-icon-3.png" alt="QA" class="course__img">
                <h3 class="course__subtitle">Ознайомлення з тестуванням</h3>
                <div class="course__text">
                    Ти дізнаєшся про забезпечення якості в
                    контексті різних моделей розробки ПЗ. Також
                    QA-спеціаліст розкаже про види тестування
                    (функціональне, регресивнеБ системне,
                    тестування швидкодії тощо).
                </div>
            </div>
        </div>
    </div>
</section>