<header class="header">
    <div class="container header__container">
        <img src="../images/logo_Oxit.png" alt="logo" class="header__logo">
        <ul class="header__menu">
            <li class="header__item"><a href="" class="header__link">Головна</a></li>
            <li class="header__item"><a href="" class="header__link">Програма курсу</a></li>
            <li class="header__item"><a href="" class="header__link">Відгуки про курс</a></li>
            <li class="header__item"><a href="" class="header__link">Відео</a></li>
            <li class="header__item"><a href="" class="header__link">Ментори</a></li>
            <li class="header__item"><a href="" class="header__btn">Подати заявку</a></li>
        </ul>
    </div>
</header>