<section class="mentors">
    <a class="anchor"  id="mentors"></a>
    <div class="container">
        <h2 class="title mentors__title">Наші ментори</h2>

        <div class="mentors__slider">
            <div class="mentors__item">
                <img src="images/viktor.png" alt="Viktor" class="mentors__img">
                <div class="mentors__descr">
                    <span class="mentors__subtitle">Віктор</span>
                    <div class="mentors__text">
                        Майбутнім управлінцям неабияк пощастило - адже з ними ділитиметься досвідом
                        управлінець із величезним досвідом! Сам засновник і СЕО компанії InternetDevels, Віктор
                        Левандовський, висловив бажання бути викладачем на курсах проект-менеджменту.
                        <br><br>
                        Віктору є про що розповісти. Він знає все про створення та керування великими
                        компаніями, ефективну комунікацію, успішні проекти і багато іншого. При цьому він
                        ніколи не скаже, що знає все - саморозвиток для нього не закінчується жодної хвилини.
                        <br><br>
                        На книжкових Віктора полицях - сотні прочитаних книг про управління і не тільки. А от
                        заповітні мрії не стоять на полиці, бо Віктор вміє впевнено йти до їхнього здійснення
                        Тільки недавно він передавав усім привіт з Ельбрусу - найвищої точки Європи.
                        <br><br>
                        Буде нестримна, мов гірська лавина, енергія, помножена на мудрість і досвід, і ви таке
                        пропустите? Записуйтесь уже зараз!
                    </div>
                </div>
            </div>

            <div class="mentors__item">
                <img src="images/mark.png" alt="Mark" class="mentors__img">
                <div class="mentors__descr">
                    <span class="mentors__subtitle">Марк</span>
                    <div class="mentors__text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas harum eos, ut possimus aut dicta distinctio adipisci dolorum, officiis blanditiis perferendis consequuntur pariatur corporis provident beatae culpa quaerat repudiandae molestiae.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus impedit enim minus ex blanditiis corporis quos repellendus! Corporis illo tempore vitae quis ipsam dolore vel optio quos ex, sapiente nobis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci unde accusamus, distinctio eius placeat omnis, incidunt expedita dolor, velit quia molestiae et. Delectus voluptate aliquam fugiat minima explicabo doloremque illum.
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum eum, maiores tempora fugit voluptates cum corporis modi totam porro distinctio sapiente nam assumenda consequuntur! Numquam accusamus repudiandae expedita ex?
                    </div>
                </div>
            </div>
            
            <div class="mentors__item">
                <img src="images/Vova.png" alt="" class="mentors__img">
                <div class="mentors__descr">
                    <span class="mentors__subtitle">Вова</span>
                    <div class="mentors__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis doloribus incidunt deserunt? Nemo harum voluptas laudantium neque impedit, veniam maiores sed illo quibusdam, aspernatur sequi. Ipsam esse nisi similique sit?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, modi enim voluptatum sed recusandae laudantium. Iure, illo ex repudiandae, dignissimos voluptates dolores exercitationem est, quos ipsum rem voluptas eos iste.
                        <br><br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis voluptatem veniam praesentium tenetur rem sequi vitae obcaecati dolores, deleniti similique tempora aperiam laborum minima! Cumque ullam maxime rerum eveniet a!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt delectus ipsa quae eos doloribus iure, impedit distinctio quas veritatis repellat cum iste, harum aspernatur dolor hic libero obcaecati in ut.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>