<section class="registration">
    <div class="container registration__container">
        <div class="registration__descr">
            <h1 class="registration__title">Курси програмування у Луцьку</h1>
            <div class="registration__text">
                Сфера ІТ розвивається максимально швидко. Зараз дуже популярно здобувати освіту, що пов'язана з ІТ. Існує лише
                одна проблема - брак дійсно кваліфікованих спеціалістів в Україні.
                Під час навчання в університеті ми отримуємо
                мало практики і "живих", реальних кейсів. ІТ школа ОХІТ
                створила таку методику навчання, при якій за короткий
                час ви отримуєте необхідні знання, щоб стати ІТ спеціалістом.
                Чекаємо вас на наших курсах з програмування в Луцьку. Старт наступного курсу 3 серпня
            </div>
        </div>

        <form action="" class="registration__form">
            <legend class="registration__form-title">Зареєструватися на курси</legend>
            <fieldset class="registration__fieldset">
                <div class="registration__item">
                    <label for="name" class="registration__label">Ім'я<span>*</span></label>
                    <input id="name" type="text" placeholder="Ім'я" class="registration__input">
                </div>

                <div class="registration__item">
                    <label for="surname" class="registration__label">Прізвище<span>*</span></label>
                    <input id="surname" type="text" placeholder="Прізвище" class="registration__input">
                </div>

                <div class="registration__item">
                    <label for="interest" class="registration__label">Мене більше цікавить?<span>*</span></label>
                    <input id="interest" required type="text" placeholder="developer or QA" class="registration__input">
                </div>

                <div class="registration__item">
                    <label for="tel" class="registration__label">Номер телефону<span>*</span></label>
                    <input required id="tel" type="tel" placeholder="Номер телефону: +38 XXX XX XX XXX" class="registration__input">
                </div>

                <div class="registration__item">
                    <label for="email" class="registration__label">Email<span>*</span></label>
                    <input required id="email" type="email" placeholder="Email" class="registration__input">
                </div>

                <div class="registration__item">
                    <input required id="policy" type="checkbox" class="registration__checkbox">
                    <label for="policy" class="registration__label registration__label-policy">Я погоджуюсь із <a class="registration__policy" href="#">Політикою Конфіденційності</a></label>
                </div>

                <div class="registration__item">
                    <input class="registration__btn" type="submit" value="Зареєструватися зараз">
                </div>
            </fieldset>
        </form>
    </div>
</section>