<section class="reviews">
    <div class="container">
        <div class="reviews__slider">
            <div class="reviews__item">
                <div class="reviews__quote"></div>
                <div class="reviews__descr">
                    <div class="reviews__text"></div>
                    <span class="reviews__name"></span>
                    <span class="reviews__profession"></span>
                </div>
                <div class="reviews__quote"></div>
            </div>
            <div class="reviews__item">
                <div class="reviews__quote"></div>
                <div class="reviews__descr">
                    <div class="reviews__text"></div>
                    <span class="reviews__name"></span>
                    <span class="reviews__profession"></span>
                </div>
                <div class="reviews__quote"></div>
            </div>
            <div class="reviews__item">
                <div class="reviews__quote"></div>
                <div class="reviews__descr">
                    <div class="reviews__text"></div>
                    <span class="reviews__name"></span>
                    <span class="reviews__profession"></span>
                </div>
                <div class="reviews__quote"></div>
            </div>
        </div>
    </div>
</section>