<section class="reviews">
    <a class="anchor" id="reviews"></a>
    <div class="container">
        <h2 class="reviews__title title">Що кажуть студенти наших курсів?</h2>

        <div class="reviews__slider">
            <div class="reviews__item">
                <div class="reviews__descr">
                    <i class="fas fa-quote-left reviews__quote"></i>
                    <div class="reviews__text">
                        Під час проходження курсів Drupal у школі OxIT я навчився створювати не досить
                        складні сайти та знайшов справу, якою хочу займатись. Після успішного завершення
                        мені надали можливість продовжити навчання вже в якості Intern Site Builder.
                        Зараз я можу сказати, що Drupal та OxIT повністю змінили моє життя.
                    </div>
                    <i class="fas fa-quote-right reviews__quote"></i>
                </div>

                <span class="reviews__name">Коля</span>
                <span class="reviews__profession">Drupal-девелопер</span>
            </div>

            <div class="reviews__item">
                <div class="reviews__descr">
                    <i class="fas fa-quote-left reviews__quote"></i>
                    <div class="reviews__text">
                        Під час проходження курсів Drupal у школі OxIT я навчився створювати не досить
                        складні сайти та знайшов справу, якою хочу займатись.
                        Зараз я можу сказати, що Drupal та OxIT повністю змінили моє життя.
                    </div> 
                    <i class="fas fa-quote-right reviews__quote"></i>
                </div>

                <span class="reviews__name">Ілля</span>
                <span class="reviews__profession">Drupal-девелопер</span>
            </div>

            <div class="reviews__item">
                <div class="reviews__descr">
                    <i class="fas fa-quote-left reviews__quote"></i>
                    <div class="reviews__text">
                        Під час проходження курсів WordPress у школі OxIT я навчився створювати не досить
                        складні сайти та знайшов справу, якою хочу займатись.
                        Зараз я можу сказати, що Drupal та OxIT повністю змінили моє життя.
                    </div>
                    <i class="fas fa-quote-right reviews__quote"></i>
                </div>
                
                <span class="reviews__name">Вова</span>
                <span class="reviews__profession">WordPress-девелопер</span>
            </div>
        </div>
    </div>
</section>