<section class="statistic">
    <div class="container statistic__container">
        <div class="statistic__items">
            <div class="statistic__item">
                <img src="images/icons/statistic-icon-1.png" alt="course" class="statistic__img">
                <span class="statistic__number">25</span>
                <div class="statistic__text">курсів організовано</div>
            </div>

            <div class="statistic__item">
                <img src="images/icons/statistic-icon-2.png" alt="hour" class="statistic__img">
                <span class="statistic__number">836</span>
                <div class="statistic__text">годин занять проведено</div>
            </div>

            <div class="statistic__item">
                <img src="images/icons/statistic-icon-3.png" alt="students" class="statistic__img">
                <span class="statistic__number">500</span>
                <div class="statistic__text">студентів навчено</div>
            </div>

            <div class="statistic__item">
                <img src="images/icons/statistic-icon-4.png" alt="work" class="statistic__img">
                <span class="statistic__number">120</span>
                <div class="statistic__text">випускників працевлаштовано</div>
            </div>
        </div>
    </div>
</section>