<section class="video">
    <a class="anchor"  id="video"></a>
    <div class="container video__container">
        <h2 class="title video__title">Відео</h2>

        <div class="video__text">
            Lorem Ipsum - це тукст-"риба", що використовується в друкарстві і дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
            коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
            прижилась в електронному верстуванні, залишаючись по суті незмінною. Вона популяризовалася в 60-их роках минулого сторіччя завдяки
            виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верствування на
            кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
        </div>
        <iframe class="video__youtube" width="1020" height="520" src="https://www.youtube.com/embed/JLHvS0qR5Lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>