.course{
    &__title{
        margin-top: 75px;
    }

    &__items{
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .slick-track{
        display: flex;
        justify-content: center;
    }

    .slick-initialized .slick-slide{
        display: flex;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child){
            margin-right: 60px;
        }
    }

    &__text{
        text-align: center;
        margin-top: 35px;
        max-width: 340px;
    }

    &__subtitle{
        font-size: 23px;
        margin-top: 35px;
        padding-bottom: 20px;
        border-bottom: solid #3498db 2px;
        text-align: center;
    }

    &__img{
        max-width: 100%;
    }
}