@media(max-width: 1200px) {
    .registration{
        &__input{
            width: 450px;
        }
    }

}

@media(max-width: 1020px) {
    .video{
        &__youtube{
            max-width: 100%;
        }
    }
}

@media(max-width: 992px){
    .registration{
        &__container{
            flex-direction: column;
        }

        &__descr{
            margin-top: 40px;
        }

        &__text{
            margin-top: 20px;
            max-width: 100%;
        }

        &__form{
            margin: 0 auto;
            margin-top: 60px;
            &-title{
                text-align: center;
            }
        }

        &__input{
            width: 500px;
        }
    }

    .course{
        &__item{
            margin-bottom: 50px;
            &:not(:last-child){
                margin-right: 0px;
            }
        }
        .slick-dots li button:before{
            font-size: 14px;
        }
        
    }

    .statistic{

        &__number{
            margin-top: 0;
        }

        &__text{
            margin-top: 0;
            text-align: center;
        }

        &__item{
            max-width: 150px;
        }
    }

    .reviews{
        &__profession{
            margin-bottom: 50px;
        }
    }
}

@media(max-width: 768px){
    .statistic{
        height: 450px;
        &__items{
            flex-wrap: wrap;
            padding-top: 45px;
            padding-bottom: 45px;
        }

        &__item{
            &:last-child{
                margin: 0 auto;
                margin-top: 20px;
            }
        }

        &__subtitle{
            font-size: 14px;
        }

    }

    .mentors{
        .slick-initialized .slick-slide{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__descr{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
        }

        &__text{
            text-align: center;
        }
    }

    
    .contacts{
        height: 380px;

        &__items{
            flex-wrap: wrap;
        }

        &__item{
            &:last-child{
                margin: 0 auto;
            }
        }
    }
}

@media(max-width: 576px){
    .registration{
        &__form{
            width: 100%;
        }

        &__input{
            max-width: 100%;
            width: 100%;
        }
    }
}

@media(max-width: 473px){
    .registration{
        &__btn{
            width: 290px;
        }

        &__form{
            width: 290px;
        }

        &__input{
            width: 290px;
        }

        &__item{
            &:nth-child(6){
                align-self: start;
                width: 230px;
            }
        }

        &__fieldset{
           align-items: center;
        }
    }

    .statistic{
        &__item{
            &:last-child{
                margin: 0;
                margin-top: 30px;
            }

            &:nth-child(3){
                margin-top: 30px;
            }
        }
    }

    .contacts{
        &__item{
            width: 140px;

            &:last-child{
                margin: 0;
            }
        }
    }
}

@media(max-width: 372px){
    *{
        font-size: 12px;
    }

    .registration{
        &__title{
            font-size: 25px;
        }

        &__form{
            &-title{
                font-size: 22px;
            }
        }
    }

    .contacts{
        &__icon{
            font-size: 40px;
        }

        &__link{
            font-size: 12px;
        }

        &__item{
            width: 140px;
        }
    }

    .title{
        font-size: 25px;
    }
}

@media(max-width: 340px){
    .statistic{
        &__item{
            max-width: 120px;
        }
    }

    .registration{
        &__btn{
            width: 280px;
        }

        &__form{
            width: 280px;
        }

        &__input{
            width: 280px;
        }
    }
}